@import url('https://fonts.googleapis.com/css?family=Pacifico|Lobster|ZCOOL+XiaoWei');

html{
	overflow: hidden;
}

body {
	position:absolute;
	background: #002c59;
	width: 100%;
	height: 100%;
	margin: 0px;
	vertical-align:baseline;
}

#particles{
	position:absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	vertical-align:baseline;
}

#name{
	text-align: right;
	font-size: 2.5rem;
	color: white;
	position: absolute;
	bottom: -1rem;
	right: 1rem;
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
}

.year{
	font-size: 15rem;
	font-weight: bold;
	color: #7fffce;
	font-family: 'Lobster', cursive;
	padding-top: 2rem;
}

h1{
	font-size: 10rem;
	color: white;
	font-family: 'ZCOOL XiaoWei', serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	line-height: 1.25em;
}

@media(max-width: 1000px) {
	h1{
		font-size: 8rem;
	  }
	.year{
		font-size: 12rem;
		padding-top: 1rem;
	}
	#name{
		font-size: 5rem;
	}
}